html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{ background-color: rgb(42, 79, 110);}

.heading{
    text-align: center;
    text-decoration: solid;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    color: coral;
 
}
.form{
    align-items: center;
}
.container{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: royalblue;
    padding-top: 40px;
    
}
.container input {
    width: 50%;
    clear: both;
    display: block;
  }
.container button{
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
}


